// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


h1 {
	position: relative;
  color: white;
  font-size: 32px;
}

table {
  width: auto;
  border-spacing: 0;
  font-size:16px;
  margin: 0px 0px 10px 0px;
}

table th {
  color: #fff;
  padding: 8px 15px;
  background: #7172ac;
  background:-moz-linear-gradient(rgba(34,85,136,0.7), rgba(34,85,136,0.9) 50%);
  background:-webkit-gradient(linear, 100% 0%, 100% 50%, from(rgba(34,85,136,0.7)), to(rgba(34,85,136,0.9)));
  font-weight: bold;
  border-left:1px solid #258;
  border-top:1px solid #258;
  border-bottom:1px solid #258;
  line-height: 120%;
  text-align: center;
  text-shadow:0 -1px 0 rgba(34,85,136,0.9);
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
}

table th:last-child {
  border-right:1px solid #258;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1),0px 1px 1px rgba(255,255,255,0.3) inset;
}

table tr td {
  padding: 8px 20px;
  border-bottom: 1px solid #84b2e0;
  border-left: 1px solid #84b2e0;
  text-align: center;
  font-size: 16px;
}

table tr td:last-child {
  border-right: 1px solid #84b2e0;
}

table tr {
  background: #fff;
}

table tr:nth-child(2n+1) {
  background: #f1f6fc;
}

body {
  margin:0px;
  padding:0px;
  position:relative;
  min-height:100vh;
  padding-bottom:100px;
  box-sizing:border-box;
}

header,footer{
  width:100%;
  padding:10px;
  background:#248ac5;
  color:#fff;margin:0px;
}

footer {
  position:absolute;
  bottom:0px;
}

a {
  text-decoration:none;
  font-size: 16px;
}

ul li {
  list-style:none;
  padding-left:0px;
}

input,pre {
  width:95%;
  padding:5px;
  font-size:16px;
}

input[type=submit]{width:auto}

.main_container {
  margin:50px 15px;
}

.alert{padding:15px;width:400px;text-align:center}

.alert__success{background-color:#98ecaa7a;border:2px solid #5cd075}

.alert__delete,.alert__failure{background-color:#ec98ac8f;border:2px solid #ec7592}

textarea#task_memo {
  width:350px;
  height:200px;
  font-size:16px;
}
